/* Write your CSS here */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.google-logo {
  width: 30vh;
}

.search-card-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

@media (min-width: 786px) {
  .google-logo {
    width: 50vh;
  }
}

.search-container {
  width: 42vh;
  display: flex;
}

@media (min-width: 786px) {
  .search-container {
    width: 65vh;
  }
}

.search-icon {
  width: 18px;
  margin-right: 10px;
}

.input-element {
  width: 90%;
  border: none;
  outline: none;
  color: #64748b;
  text-align: left;
}

.list-item-container {
  list-style: none;
  padding: 10px;
}
