/* Write your CSS here */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.list-element {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.arrow-img {
  width: 16px;
}

button {
  background-color: transparent;
  border: none;
}

.suggestion {
  color: #475569;
  font-size: 13px;
}
